<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <div class="container">
        {% if message %}
        {{ message }}
        {% endif %}
        <h1>Login</h1>
        <form method="post" action="/login">
            <label for="username">Username</label>
            {% if error_user %}
            {{ error_user }}
            {% endif %}
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            {% if error_pass %}
            {{ error_pass }}
            {% endif %}
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
            <input type="hidden" name="button_value" id="button_value">
            <button type="submit" onclick="setButtonValue('button_value')">Go to Register</button>
        </form>
    </div>
</body>
</html>
  