<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="static\style.css">
    <script>
        function setButtonValue(inputId) {
        var buttonValue = "yes";
        document.getElementById(inputId).value = buttonValue;
        }
      
        const form = document.querySelector('form');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ username, password })
            });

            if (response.redirected) {
                window.location.href = response.url;
            } else {
                alert('Invalid username or password');
            }
        });
    </script>
</head>
<body>
    <div class="container">
        {% if message %}
        {{ message }}
        {% endif %}
        <h1>Login</h1>
        <form method="post" action="/login">
            <label for="username">Username</label>
            {% if error_user %}
            {{ error_user }}
            {% endif %}
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            {% if error_pass %}
            {{ error_pass }}
            {% endif %}
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
            <input type="hidden" name="button_value" id="button_value">
            <button type="submit" onclick="setButtonValue('button_value')">Go to Register</button>
        </form>
    </div>
</body>
</html>
  