<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="static\style.css">
  <script>
    function setButtonValue(inputId) {
        var buttonValue = "yes";
        document.getElementById(inputId).value = buttonValue;
        }
  </script>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form method="post" action="/register">
            <label for="username">Username</label>
            {% if error_user %}
            {{ error_user }}
            {% endif %}
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            {% if error_pass %}
            {{ error_pass }}
            {% endif %}
            <input type="password" id="password" name="password">
            <button type="submit">Register</button>
            <input type="hidden" name="button_value" id="button_value">
            <button type="submit" onclick="setButtonValue('button_value')">Go to Login</button>
        </form>
    </div>
</body>
</html>