<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="static/successStyle.css">
  </head>
  <body>
    <h1>Upload image here!</h1>
    <form method="post" action="/success" enctype="multipart/form-data">
      <label for="image">Upload a PNG file:</label>
      <input type="file" id="image" name="image" accept="image/png">
      <br><br>
      <input type="submit" value="Submit">
    </form>

    <br><br>

    {% if predicted_class %}
      <h2>This appears to be {{msg}}</h2>
      {% if predicted_class == 'Plastic' %}
      <img src="{{ plastic }}" alt="go to this website: https://www.3devo.com/blog/recycling-plastics">
      {% endif %}
    {% endif %}
  </body>
</html>
